* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cabecalho {
    background-color: #f0f0f0;
    font-weight: bold;
}

li {
    padding: 10px;
}

.comida {
    flex: 1;
}

.dinheiro1,
.dinheiro2,
.dinheiro3,
.dinheiro4,
.dinheiro5,
.dinheiro6 {
    text-align: right;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

input[type='number'] {
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    border: none;
}

button[type='button'] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button[type='button']:hover {
    background-color: #3e8e41;
}

#resultado {
    position: relative;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

#resultado {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}